* {
    margin: 0;
    font-family: 'Abyssinica SIL', serif;
}

/* -----------First Section------------- */

header {
    background-image: url(images/m26-s-1.webp);
    height: 160vh;
    background-repeat: no-repeat;
}

.first-part {
    display: flex;
    width: 100%;
}

.half {
    width: 50%;
}

.half-width {
    display: flex;
    padding: 70px 0 0 0;
}

.img-logo {
    width: 15%;
    padding: 40px 0 0 40px;
}

.half-width h3 {
    color: white;
    font-size: 20px;
    padding-right: 40px;
}

.header-line {
    text-align: center;
    padding-top: 120px;
    color: white;
}

.header-line h3 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.header-line h1 {
    font-size: 90px;
    font-family: 'Playfair Display', serif;
}

.header-line button {
    margin-top: 40px;
}

.btn {

    font-size: 16px;
    font-weight: 90px;
    background-color: rgb(232, 113, 65);
    border: none;
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
}

/*-------------- Second Part -------------*/

.second {
    background-color: rgb(236, 248, 255);
    background-image: url(images/bg-1.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: 100px;
}

.second-part {
    display: flex;
    width: 100%;
    padding: 200px 0;
}

.second-part-img {
    width: 80%;
    padding-left: 100px;
}

.second-part-line {
    padding-top: 100px;
}

.second-part-line h1 {
    font-size: 45px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

.second-part-line p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #868282;
}


/* ----------Third Part------------ */

.third {
    margin-bottom: 100px;
}

.third-part {
    text-align: center;
}

.third-part h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.third-part p {
    font-size: 20px;
    color: #868282;
    margin-bottom: 70px;
}

.services {
    display: flex;
}

.services-gap {
    padding: 0 20px;
    margin-bottom: 30px;
}

.service {
    display: flex;
}

.service-img {
    width: 40%;
    border: 1px solid;
    border-radius: 60px;
    padding: 15px;
}

.service-line {
    text-align: justify;
    padding-top: 10px;
    margin-left: -20px;
}

.service-line h3 {
    font-size: 25px;
}

.service-line p {
    font-size: 15px;
}

/*-----------------  Fourth Part -----------------*/

.fourth {
    background-color: rgb(236, 248, 255);
}

.fourth-part {
    display: flex;
    width: 100%;
}

.experience-img {
    width: 100%;
}

.fourth-part-line {
    padding: 120px 0 0 80px;
}

.fourth-part-line h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.fourth-part-line p {
    font-size: 25px;
    padding-right: 150px;
    text-align: justify;
    color: #868282;
    margin-bottom: 50px;
}

/*--------------- Fifth Part ----------------*/

.fifth {
    background-color: rgb(15, 32, 42);
    color: white;
    padding-top: 100px;
    height: 400px;
    margin-bottom: 60px;
}

.fifth-part {
    text-align: center;
}

.fifth-part p {
    font-size: 35px;
    padding: 0 20px 40px 20px;
}

.fifth-part img {
    width: 7%;
    margin-bottom: 15px;
}

.fifth-part h4 {
    font-size: 20px;
}

/*-------------- sixth part --------------*/

.sixth {
    margin-bottom: 150px;
}

.sixth-part {
    text-align: center;
}

.sixth-part h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.sixth-part p {
    font-size: 25px;
    color: #868282;
}

.member-list {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.members-center {
    width: 26.66%;
    border: 1px solid;
}

.member-part {
    display: block;
    color: rgba(0, 0, 0, 0.508);
}

.center {
    margin-left: 150px;
}

#word-color {
    margin-top: 2px;
}

.members-center h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 50px;

}

.members-center p {
    font-size: 40px;
    color: black;
}

.big-letter {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

.members-center small {
    margin-top: 30px;
    font-size: 18px;
}

.word-color {
    color: rgb(232, 114, 66);
    font-family: 'Playfair Display', serif;
}

.buy-now {
    margin: 50px 0;
}

.popular-service{
    display: flex;
    width: 100%;
}

.service-half{
    width: 70%;
}

#word-color{
padding-left: 60px;
}

#popular{
    background-color: rgb(64, 168, 166);
    padding: 10px 20px;
    margin: 50px 0;
    border-radius: 20px;
}

#popular small{
    font-size: 10px;
    color: white;
}

/*---------------- seven part ------------ */

.seven{
    background-color: rgb(236, 248, 255);
    padding-bottom: 50px;
}

.seven-part{
    text-align: center;
}

.seven-part h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    padding-top: 50px;
}

.seven-part p{
    font-size: 20px;
    color: #868282;
    margin-bottom: 50px;
}

.experts{
    display: flex;
    width: 100%;
}

.experts img{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 10px;
}



